body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fafafa;
}

header {
  background-color: #0bdf75;
  color: white;
  padding: 20px;
  text-align: center;
}

#map {
  height: 600px;
  width: 100%;
  margin-bottom: 20px;
  background-color: #eaeaea;
  border: 2px solid #ccc;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
}

.gallery img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
